<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div>
          <%= @user.name %>
        </div>
        <div>
          <%= @user.email %>
        </div>
      </h1>
    </section>
  </aside>
</div>