<h1>Welcome to the Ruby on Rails App</h1>
<h2>
  This is the home page for the Ruby on Rails Tutorial sample application.
</h2>
<%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>