<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <% if logged? %>
    <% if admin_user? %>
      <%= render 'admin' %>
    <% else %>
      <%= render 'customer' %>
    <% end %>
  <% else %>
    <%= button_to "Đăng nhập", "/login", method: :get, class: "btn btn-primary" %>
  <% end %>
</div>
